.profile__btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: 18px;
}

@media screen and (max-width: 670px) {
  .profile__btn {
    max-width: 282px;
    margin: 36px auto 0;
    justify-content: center;
  }
}
