.popup__close {
  border: none;
  background: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

@media screen and (max-width: 588px) {
  .popup__close {
    top: -36px;
    right: 0px;
  }