.element {
  max-width: 282px;
  width: 100%;
  border-radius: 10px;
  background: #FFFFFF;
  height: 361px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .element {
    margin: auto;
  }
}